*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}


body{
    background: #799F0C; 
    background: -webkit-linear-gradient(to right, #ACBB78, #799F0C);  
    background: linear-gradient(to right, #ACBB78, #799F0C); 
    

}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 60%;
    margin: 0 auto;
}

header{
    width: 100%;
    /* padding: 20px 0px; */
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(100px);
    color: white;
    padding: 40px 0px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 40px;
}

nav ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 12px;
}
nav ul li:hover{
    background-color: white;
    color: #799F0C;
    transition: 0.5s;
    border-radius: 12px;
}
nav button{
    display: none;
}

.layout-box{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

form{
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.layout-cards{
    width: 38%;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
.layout-card{
    width: 100%;
    background-color: #799F0C;
    padding: 20px;
    border-radius: 15px;
    color: white;
}
form label{
    font-size: 18px;
    font-family: cursive ;
    font-weight: 600;
    color: rgb(95, 95, 95);
}

form input:focus{
    outline: 1px solid #799F0C;
}

form input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 0px 5px;
    border-radius: 12px;
    border: 1px solid #ACBB78;
    color: #799F0C;
}
form button{
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #799F0C;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #799F0C;
}
form button:hover{
    background-color: white;
    color: #799F0C;
    border: 1px solid #799F0C;
}
form select{
    background-color: #799F0C;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
}








@media (max-width: 481px) {
    /* bu yerga style yoziladi */
    .container{
        width: 80%;
    }
    header {
        background-color: rgba(255, 255, 255, 0.281);
    }
    nav ul{
        display: none;
    }
    nav button{
        width: 50px;
        padding: 10px 5px;
        display: inline-block;
        color: #799F0C;
        background-color: white;
        border: none;
        border-radius: 12px;
    }
    .mobile-bar {
        width: 350px;
        height: 100vh;
        background: #799F0C;
        display: none;
        flex-direction: column;
        justify-content: start;
        gap: 15px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 40px;
        transition: right 0.7s ease; /* Faqat transition ishlatildi */
      }
    .mobile-bar.active {
        display: flex;
        right: 0;
        
      }
      .mobile-bar button {
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
        cursor: pointer;
        padding: 5px;
      }
  }




  @keyframes mobileMenu{
    0%{ background: #799F0C;
        display: block;
        right: -300px;}
    100%{ background: #799F0C;
        display: block;
    }
  }
  